<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="vue.js"></script>
    <title>V-proj_001</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div id="app">
    <h1 v-once>{{title}}</h1>

    <input type="text" v-on:input="changeTitle">
    <p>{{title}}</p>
    <p>{{sayHello()}} - <a v-bind:href="link">Google</a></p>
    <p>{{sayTitle()}}</p>
    <hr>
    <p v-html="finishedLink"></p>
    <hr>
    <button v-on:click="increase1(2, $event)">Click me 2-step</button>
    <button v-on:click="counter++">Click me for 1-step</button>
    <p>{{ counter1 }}</p>
    <p>{{ counter1 * 2 > 10 ? 'Grater than 10' : 'Smaller than 10' }}</p>
    <p v-on:mousemove="updateCoordinates">
        Coordinates: {{x}} / {{y}}
        - <span v-on:mousemove.stop="">DEAD SPOT</span>
    </p>
    <hr>
    <h2>Alerts</h2>
    <input type="text" v-on:keyup.enter.space="alertMe" v-model="name">
    <p>{{ name }}</p>
    <hr>
    <h2>22 methods </h2>
    <p>{{ result1() }}</p>
    <hr>
    <h2>Computed properties</h2>
    <button v-on:click="counter++">Increasing</button>
    <button v-on:click="counter--">Decreasing</button>
    <button v-on:click="secondCounter++">Increase Second</button>
    <p>Counter: {{ counter }} | {{ secondCounter }}</p>
    <p>Result: {{ result() }} | {{ output }}</p>
    <hr>
    <h1>v-on -> @ and v-bind -> : </h1>

    <input type="text" @input="changeTitle">
    <p>{{title}}</p>
    <p>{{sayHello()}} - <a :href="link">Google</a></p>
    <p>{{sayTitle()}}</p>
    <hr>
    <h2>attaching css classes </h2>
    <div class="demo"
         @click="attachRed = !attachRed"
         :class="{ red: attachRed, blue: !attachRed }">
        classes added one by one <br>
        on-click here
    </div>
    <div class="demo"
         :class="{ red: attachRed }">
        yeah
    </div>
    <div class="demo"
         :class="divClasses">computed obj classes
    </div>
    <h2> dynamic styling </h2>
    <div class="demo"
         :class="color">
        from input directly by name of class
    </div>
    <div class="demo"
         :class="[color, {red: attachRed}]">
        from input: directly and obj [...]
    </div>
    <hr>
    <input type="text" v-model="color">
    <hr>
    <h2>css styling - but not through classes</h2>
    <div class="demo" :style="{ 'background-color': color }">(1)'background-color': color</div>
    <div class="demo" :style="{ backgroundColor: color }">(1) backgroundColor: color</div>
    <div class="demo" :style="myStyle" >(2) myStyle</div>
    <div class="demo" :style="[myStyle, {height: 1.5*width + 'px'}]">(3) myStyle and 1.5w height</div>
    <br>
    <input type="text" v-model="color"> for color
    <br>
    <input type="text" v-model="width"> for width
</div>
<script src="script_00.js"></script>
</body>
</html>